#logo2{
	position:relative;
	width:70%;
	height:100px;
	margin:-50px auto 0 auto;
	
}


.tt_principal1{ 
	
	padding:20px 20px 20px 20px;
	font-size:40px;

}

.tt_principal1 h2{ 
	font-size:45px;
	
}

.tt_principal2{ 
	
	padding:0px 20px 20px 20px;
	
}

.tt_principal2 h2{ 
	font-size:45px;
	
}